<!DOCTYPE html>

<html ng-app="colours">
	<head>
		<script type="text/javascript" src="angular.js"></script>
		<script type="text/javascript" src="app.js"></script>

		<style>
			table, table td {
				border: 1px solid black;
			}
			td {
				height: 100px;
				width: 100px;
				vertical-align: bottom;
			}
			input {
				width: 96px;
			}
			#opacity-cell tr td {
				width: 49px;
				transition: background 0.3s linear;
			}
			#opacity-cell tr td input {
				width: 93%;
			}
			.opacity-input {
				color: rgba(0, 0, 0, 1);
			}
			.colour-cell {
				transition: background-color 0.3s linear;
			}
		</style>
	</head>

	<body>
		<div id="container" ng-controller="ColourCtrl as ctrl">			
			<table>
				<tr ng-repeat='row in table track by $index'>
					
					<!-- Opacity controls -->
					<td ng-if="$index == 0">
						<table id="opacity-cell">
							<tr>
								<td style="background : rgba(0, 0, 0, {{opacity.A}});">
									<input 
										maxlength=5
										class="opacity-input"
										ng-model="opacity.A"  
										ng-keyup="update(null, null, null)" 
										ng-show="$parent.$index == 0"
									/>
								</td>
								<td style="background : rgba(0, 0, 0, {{opacity.B}});">
									<input 
										maxlength=5										
										class="opacity-input"
										ng-model="opacity.B"  
										ng-keyup="update(null, null, null)"
										ng-show="$parent.$index == 0"
									/>
								</td>
							</tr>
						</table>
					</td>

					<!-- Show base colour and controls -->
					<td 
						class="colour-cell"
						ng-if="$parent.$index == 0 && $index != 0" 
						ng-repeat="column in row track by $index"
						style="background-color : {{ colours[column]['hex'] }}"
					>
						<!-- Colour controls -->
						<input
							ng-model="colours[column]['hex']" 
							ng-keyup="update($index, colours[column], false)" 
							ng-show="$parent.$index != 0"
						/>
						<input
							ng-model="colours[column]['rgb']"
							ng-keyup="update($index, colours[column], true)"
							ng-show="$parent.$index != 0"
						/>
					</td>

					<!-- Show calculated colours -->
					<td 
						class="colour-cell"
						ng-if="$parent.$index != 0" ng-repeat="column in row track by $index"
						ng-style="$index != 0 ? { 'background-color' : calculatedColours[$parent.$parent.$index][column] } : { 'background-color' : colours[column]['hex'] }"
					>
						{{ calculatedColours[$parent.$parent.$index][column] }}
						{{ $index != 0 ? getRGB(calculatedColours[$parent.$parent.$index][column]) : '' }}
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>